#!/bin/bash

# SOURCE THIS FILE TO LOAD (EXPORT) VARIABLES TO THE ENVIRONMENT: source env.sh
# Here we can use bash's advanced variable interpolation magic to set variables in contrast to docker-compose's
# Need to use export to make variables available for docker-compose!

export PORT=10070
export IMAGE_NAME=lcc/nosketch-engine
export CONTAINER_NAME=noske
export CORPORA_DIR=$(pwd)/corpora
export SERVER_NAME=https://cql.wortschatz-leipzig.de/
export SERVER_ALIAS=cql.wortschatz-leipzig.de
export CITATION_LINK=https://wortschatz-leipzig.de/
export HTACCESS=$(cat secrets/htaccess 2> /dev/null)
export HTPASSWD=$(cat secrets/htpasswd 2> /dev/null)

if [[ -z "$QUIET" ]]; then
    echo "Setting (updating) the following environment variables (set \$QUIET to any non-zero length value " \
     "to suppress this output):"
    echo
    echo "PORT=${PORT}"
    echo "IMAGE_NAME=${IMAGE_NAME}"
    echo "CONTAINER_NAME=${CONTAINER_NAME}"
    echo "CORPORA_DIR=${CORPORA_DIR}"
    echo "SERVER_NAME=${SERVER_NAME}"
    echo "SERVER_ALIAS=${SERVER_ALIAS}"
    echo "CITATION_LINK=${CITATION_LINK}"
    echo "HTACCESS=${HTACCESS}"
    echo "HTPASSWD=${HTPASSWD}"
    echo
    echo "End of list"
fi
